@charset "utf-8";
/* CSS Document */

/* HTMLタグ */
body {
}

/* link */
#link table {
	border-collapse: separate;
	border-spacing: 1px;
	border: 1px solid #dad8d2;
	margin:10px 0 10px;
	width: 35em;
}

#link table caption {
	color: #3f91f5;
	font-weight: bold;
	text-align: left;
}

#link table td, #link table th {
	border: 1px solid #dad8d2;
	padding: 5px;
}

#link table th {
	background: #f3f2f0;
	color: #83795c;
	font-weight: bold;
	width: 4em;
}

#link table dl {
	margin-left: 1em;
}